@font-face {
    font-family: 'Pocket Calculator';
    src: url('./fonts/POCKC___.ttf')
}

body {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.calc-body {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: grey;
    flex-direction: column;
    max-width: fit-content;
}

.calc-display {
    background-color: #eee;
    font-family: 'Pocket Calculator', sans-serif;
    font-size: 40px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-delete-section {
    display: flex
}